
/** Height & Width Start */

.fill-space {
    width: 100%;
    height: 100%;
}

/** Height & Width End */

/** Margin Start */

.margin-medium {
    margin: 10px;
}

/** Margin End */

/** Padding Start */

.padding-small {
    padding: 4px;
}

/** Padding End */
