/** Titles Start */

.title-large {
    font-weight: bold;
    font-size: 3rem;
}

.title-medium {
    font-weight: bold;
    font-size: 2rem;
}

.title-small {
    font-weight: bold;
    font-size: 1.5rem;
}

/** Titles End */

/** General */

.text-medium {
    font-size: 1.2rem;
}

.text-large {
    font-size: 1.2rem;
}

/** General End */
